@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Lato:wght@300;400;700&family=Playfair+Display:wght@600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

p,
a,
span {
  font-family: "Lato", sans-serif;
}

a {
  font-weight: 400;
  color: #A56869;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.23s ease-in-out;
}

img {
  width: 100%;
}

.active_language {
  color: #2C48AF;
}

html {
  font-size: 62.5%;
}
@media screen and (min-width: 450px) {
  html {
    font-size: 75%;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 87.5%;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 100%;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 112.5%;
  }
}
@media screen and (min-width: 1440px) {
  html {
    font-size: 125%;
  }
}
@media screen and (min-width: 1801px) {
  html {
    font-size: 137.5%;
  }
}

header {
  z-index: 7;
  position: relative;
  padding: 63px 0;
}
header .header_content {
  background: #E7F7DC;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  -webkit-box-shadow: 0px 0px 52px 31px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 52px 31px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 52px 31px rgba(0, 0, 0, 0.25);
  transition: all 0.23s ease-in-out;
}
header .header_content.hide {
  top: -140px;
}
header .logo {
  padding: 10px 0 8.5px;
}

.menu-btn {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 1;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.23s ease-in-out;
}
.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 8px;
  width: 25px;
  height: 3px;
  background: #A56869;
  transition: all 0.23s ease-in-out;
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #A56869;
  transition: all 0.23s ease-in-out;
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 22px;
  height: 3px;
  background: #A56869;
  transition: all 0.23s ease-in-out;
}
.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
  background: transparent;
}
.menu-btn__burger.open::after {
  width: 0;
  content: "X";
  transform: translate(2px, -23px);
  font-size: 32px;
  font-family: "Kanit", sans-serif;
  color: #A56869;
}

.nav {
  background: #E7F7DC;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}
.nav .line_hover {
  margin: 1px auto 0;
  height: 2px;
  background: #2C48AF;
  width: 0%;
  transition: all 0.23s ease-in-out;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #E7F7DC;
  list-style-type: none;
  transform: translateY(-100%);
  transition: all 0.23s ease-in-out;
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav__item {
  transform: translateX(100vw);
  transition: all 0.23s ease-in-out;
}
.nav .menu-nav__item.open {
  transform: translateX(0);
}
.nav .menu-nav__item.active > a {
  color: #2C48AF;
}
.nav .menu-nav__link {
  display: inline-block;
  font-size: 32px;
  text-transform: uppercase;
  padding: 16px 0;
  transition: all 0.23s ease-in-out;
}
.nav .menu-nav__link:hover {
  color: #2C48AF;
  transform: translateY(-3.5px);
}
.nav .menu-nav__link:hover .line_hover {
  width: 100%;
}

.all_globe {
  position: relative;
  margin-top: 25px;
  display: inline-block;
  transition: all 0.23s ease-in-out;
}
.all_globe .right {
  transition: all 0.23s ease-in-out;
}
.all_globe:hover .right {
  transform: rotateZ(-90deg);
}
.all_globe:hover .choose_language {
  opacity: 1;
}

.globe_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.globe_wrapper img {
  width: 25%;
}
.globe_wrapper .lang {
  text-transform: uppercase;
  font-size: 32px;
  color: #A56869;
}

.choose_language {
  background: #E7F7DC;
  border-radius: 5px;
  width: 70px;
  opacity: 0;
  position: absolute;
  left: 157px;
  bottom: 1px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: all 0.23s ease-in-out;
}
.choose_language .lang {
  font-size: 16px;
}
.choose_language .the_lang {
  padding: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choose_language .the_lang:first-child {
  padding-top: 16px;
}
.choose_language .the_lang:last-child {
  padding-bottom: 16px;
}
.choose_language img {
  width: 25%;
}
.choose_language .flag {
  margin-left: 4px;
}

.menu-nav__item:nth-child(1) {
  transition-delay: 0.29s;
}

.menu-nav__item:nth-child(2) {
  transition-delay: 0.39s;
}

.menu-nav__item:nth-child(3) {
  transition-delay: 0.49s;
}

.menu-nav__item:nth-child(4) {
  transition-delay: 0.59s;
}

.hero_section {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../img/hero_background.jpg") center top;
  background-size: cover;
  height: 47.5vw;
}

.hero_centar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_heading {
  color: #EFDFC9;
  text-align: center;
  padding: 0 5rem;
  font-size: 3rem;
}

.index_container {
  padding: 0 3rem;
}

.choose_pet {
  background: #FDF9F6;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.choose_pet .choose_heading {
  margin-bottom: 2.5rem;
  color: #A56869;
  text-align: center;
  font-size: 2rem;
}
.choose_pet .choose_parag {
  color: #415498;
  text-align: center;
  line-height: 1.3;
  font-size: 1.6rem;
}

.best_pets_wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.bp_text {
  background: #DAE3F3;
  text-align: center;
}

.blue_padding {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.but_how {
  background: #FDF9F6;
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bp_heading {
  color: #415498;
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
}

.bp_parag {
  color: #A56869;
  line-height: 1.2;
  font-size: 1.3rem;
}

.bp_img {
  position: relative;
}
.bp_img img {
  object-fit: cover;
}

.think_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}

.picture_cover {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../img/think_background.jpg") center top;
  background-size: cover;
  height: 47.5vw;
}

.footer_wrapper {
  background: #E7F7DC;
  text-align: center;
  padding: 1.8rem;
  color: #A56869;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer_parag {
  font-size: 1.2rem;
}
.footer_parag a {
  text-transform: none;
}
.footer_parag a:hover {
  color: #415498;
}

.footer_parag:first-child {
  margin-bottom: 0.5rem;
}

.gallery_text {
  background: #E7F7DC;
  text-align: center;
  padding: 2rem;
}
.gallery_text .bp_heading {
  margin: 0;
  color: #A56869;
}

.slider_wrapper {
  width: 100%;
  height: 40vw;
  position: relative;
  background: #E7F7DC;
}
.slider_wrapper .counter_wrapper {
  position: absolute;
  bottom: 0;
  color: #415498;
  width: 100%;
  display: flex;
  justify-content: center;
}
.slider_wrapper .count_slide {
  background: rgba(231, 247, 220, 0.3);
  padding: 0.3rem 0;
  width: calc(100% - 15rem);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.slider_wrapper .slider_images {
  height: 100%;
  padding: 0 7.5rem;
}
.slider_wrapper .slider_images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.slider_wrapper .slider_images img:first-child {
  display: block;
}
.slider_wrapper button {
  height: 100%;
  width: 5rem;
  border: none;
  outline: none;
  background: hsl(26deg, 64%, 78%);
  cursor: pointer;
  position: absolute;
  z-index: 5;
  transition: all 0.23s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider_wrapper button:hover {
  background: #A56869;
}
.slider_wrapper #right_btn {
  right: 0;
  top: 0;
}
.slider_wrapper #left_btn {
  transform: rotate(180deg);
}

@media screen and (min-width: 450px) {
  .choose_pet .choose_parag {
    line-height: 1.5;
  }
  .bp_parag {
    line-height: 1.3;
  }
  .gallery_card {
    width: 400px;
    height: 266px;
  }
  .first_card {
    margin-left: 4rem;
  }
  .gallery_card:last-child {
    margin-right: 3.995rem;
  }
  .pre_btn,
.nxt_btn {
    height: 266px;
    width: 4rem;
  }
  .pre_btn {
    height: 267px;
  }
  .slider_wrapper .slider_images {
    padding: 0;
  }
  .slider_wrapper .slider_images img {
    object-fit: contain;
  }
}
@media screen and (min-width: 768px) {
  header .header_content {
    justify-content: space-between;
  }
  .all_globe {
    margin-left: 25px;
    margin-top: 0;
  }
  .all_globe:hover .right {
    transform: rotateZ(90deg);
  }
  .globe_wrapper .lang {
    font-size: 24px;
  }
  .globe_wrapper img {
    width: 17%;
  }
  .choose_language {
    bottom: -230px;
    left: 30px;
  }
  .master_container {
    padding: 0 30px;
  }
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    position: relative;
    max-width: fit-content;
  }
  .nav .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: center;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-right: 14.4px;
  }
  .nav .menu-nav__link {
    font-size: 24px;
  }
  .gallery_card {
    width: 650px;
    height: 433px;
  }
  .first_card {
    margin-left: 5rem;
  }
  .gallery_card:last-child {
    margin-right: 4.995rem;
  }
  .pre_btn,
.nxt_btn {
    height: 433px;
    width: 5rem;
  }
  .pre_btn {
    height: 434px;
  }
}
@media screen and (min-width: 900px) {
  .best_pets_wrapper {
    flex-direction: row;
  }
  .flex_reverse {
    flex-direction: row-reverse;
  }
  .bp_text {
    width: 50vw;
    text-align: left;
  }
  .bp_img {
    width: 50%;
  }
  .bp_img img {
    height: 100%;
  }
  .picture_cover {
    height: auto;
  }
  .gallery_card {
    width: 800px;
    height: 533px;
  }
  .first_card {
    margin-left: 6rem;
  }
  .gallery_card:last-child {
    margin-right: 5.995rem;
  }
  .pre_btn,
.nxt_btn {
    height: 533px;
    width: 6rem;
  }
  .pre_btn {
    height: 534px;
  }
}
@media screen and (min-width: 992px) {
  .all_globe {
    margin-left: 65px;
  }
  .master_container {
    padding: 0 60px;
  }
}
@media screen and (min-width: 1024px) {
  .all_globe {
    margin-left: 40px;
  }
  .nav .menu-nav__item {
    padding-right: 45px;
  }
  .master_container {
    padding: 0 90px;
  }
  .choose_pet .choose_parag {
    line-height: 1.7;
  }
  .bp_parag {
    line-height: 1.5;
  }
}
@media screen and (min-width: 1440px) {
  .all_globe {
    margin-left: 105px;
  }
  .nav .menu-nav__item {
    padding-right: 100px;
  }
  .master_container {
    padding: 0 120px;
    max-width: 1800px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1801px) {
  .all_globe {
    margin-left: 130px;
  }
  .master_container {
    padding: 0 150px;
    max-width: 2600px;
  }
  .big_flex {
    display: flex;
  }
  .big_flex_reverse {
    flex-direction: row-reverse;
  }
  .best_pets_wrapper {
    flex-basis: 65%;
  }
  .bp_text {
    text-align: center;
  }
  .blue_padding {
    padding: 1rem;
  }
  .but_how {
    background: hsl(26deg, 64%, 78%);
    padding: 1rem;
    flex-basis: 35%;
  }
  .bp_text2 {
    background: hsl(218deg, 51%, 80%);
  }
  .bp_heading {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  .bp_parag {
    font-size: 0.8rem;
    color: #415498;
  }
  .but_how2h {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .but_how2p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}