@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Lato:wght@300;400;700&family=Playfair+Display:wght@600;700;800;900&display=swap');

@mixin transition-ease {
    transition: all 0.23s ease-in-out;
}

@mixin center-point {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$background_color_blue: #DAE3F3;
$background_color_dark_blue: hsl(218, 51%, 80%);
$background_color_green: #E7F7DC;
$background_color_cream: #FDF9F6;
$background_color_dark_cream: hsl(26, 64%, 78%);
$text_color_light_cream: #EFDFC9;
$text_color_blue: #415498;
$text_color_strong_cream: #A56869;
$link_color_active: #2C48AF;

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

p,
a,
span {
    font-family: 'Lato', sans-serif;
}

a {
    font-weight: 400;
    color: $text_color_strong_cream;
    text-decoration: none;
    text-transform: uppercase;
    @include transition-ease;
}

img {
    width: 100%;
}

.active_language {
    color: $link_color_active;
}

html {
    font-size: 62.5%; //1rem=10px 10px/16px=62.5%

    @include media_small {
        font-size: 75%; //1rem=12px; 12/16px=75%
    }

    @include media_md {
        font-size: 87.5%; //1rem=14px; 14px/16px=87.5%
    }

    @include media_lapTop {
        font-size: 100%; //1rem=16px; 16px/16px=100%
    }

    @include media_lg {
        font-size: 112.5%; //1rem=18px; 18px/16px=112.5%
    }

    @include media_xl {
        font-size: 125%; //1rem=20px; 20px/16px=125%
    }

    @include media_exl {
        font-size: 137.5%; //1rem=22px; 22px/16px=137.5%
    }
}