@include media_small {
    .choose_pet {
        .choose_parag {
            line-height: 1.5;
        }
    }


    .bp_parag {
        line-height: 1.3;
    }


    .gallery_card {
        width: 400px;
        height: 266px;
    }

    .first_card {
        margin-left: 4rem;
    }

    .gallery_card:last-child {
        margin-right: 3.995rem;
    }

    .pre_btn,
    .nxt_btn {
        height: 266px;
        width: 4rem;
    }

    .pre_btn {
        height: 267px;
    }

    .slider_wrapper .slider_images {
        padding: 0;
    }


    .slider_wrapper .slider_images img {
        object-fit: contain;
    }
}


@include media_md {
    header {
        .header_content {
            justify-content: space-between;
        }
    }

    .all_globe {
        margin-left: 25px;
        margin-top: 0;

        &:hover .right {
            transform: rotateZ(90deg);
        }
    }

    .globe_wrapper {
        .lang {
            font-size: 24px;
        }

        img {
            width: 17%;
        }
    }

    .choose_language {
        bottom: -230px;
        left: 30px;
    }

    .master_container {
        padding: 0 30px;
    }


    .menu-btn {
        visibility: hidden;
    }

    .nav {
        @include center-point;
        visibility: visible;
        position: relative;
        max-width: fit-content;

        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            background: transparent;
            text-align: center;

            &__item {
                display: inline;
                padding-right: 14.4px;
            }

            &__link {
                font-size: 24px;
            }
        }
    }


    .gallery_card {
        width: 650px;
        height: 433px;
    }

    .first_card {
        margin-left: 5rem;
    }

    .gallery_card:last-child {
        margin-right: 4.995rem;
    }

    .pre_btn,
    .nxt_btn {
        height: 433px;
        width: 5rem;
    }

    .pre_btn {
        height: 434px;
    }
}

@include media_big {
    .best_pets_wrapper {
        flex-direction: row;
    }

    .flex_reverse {
        flex-direction: row-reverse;
    }

    .bp_text {
        width: 50vw;
        text-align: left;
    }

    .bp_img {
        width: 50%;

        img {
            height: 100%;
        }
    }

    .picture_cover {
        height: auto;
    }


    .gallery_card {
        width: 800px;
        height: 533px;
    }

    .first_card {
        margin-left: 6rem;
    }

    .gallery_card:last-child {
        margin-right: 5.995rem;
    }

    .pre_btn,
    .nxt_btn {
        height: 533px;
        width: 6rem;
    }

    .pre_btn {
        height: 534px;
    }

}


@include media_lapTop {
    .all_globe {
        margin-left: 65px;
    }

    .master_container {
        padding: 0 60px;
    }
}



@include media_lg {
    .all_globe {
        margin-left: 40px;
    }

    .nav {
        .menu-nav {
            &__item {
                padding-right: 45px;
            }

        }
    }

    .master_container {
        padding: 0 90px;
    }

    .choose_pet {
        .choose_parag {
            line-height: 1.7;
        }
    }


    .bp_parag {
        line-height: 1.5;

    }
}


@include media_xl {
    .all_globe {
        margin-left: 105px;
    }

    .nav {

        .menu-nav {

            &__item {
                padding-right: 100px;
            }

        }
    }

    .master_container {
        padding: 0 120px;
        max-width: 1800px;
        margin: 0 auto;
    }
}


@include media_exl {
    .all_globe {
        margin-left: 130px;
    }

    .master_container {
        padding: 0 150px;
        max-width: 2600px;
    }

    .big_flex {
        display: flex;
    }

    .big_flex_reverse {
        flex-direction: row-reverse;
    }

    .best_pets_wrapper {
        flex-basis: 65%;
    }

    .bp_text {
        text-align: center;
    }

    .blue_padding {
        padding: 1rem;
    }

    .but_how {
        background: $background_color_dark_cream;
        padding: 1rem;
        flex-basis: 35%;
    }

    .bp_text2 {
        background: $background_color_dark_blue;
    }

    .bp_heading {
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    .bp_parag {
        font-size: 0.8rem;
        color: $text_color_blue;
    }

    // .picture_cover {
    //     height: 15vw;
    // }

    .but_how2h {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .but_how2p {
        font-size: 1.2rem;
        line-height: 1.5;
    }
}